<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Input Assistance</title>
  </head>
  <body>
    <form action="" method="POST">
      <label for="code">Code</label>
      <input type="text" name="code" id="code" />
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
